.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 90px;
    gap:1rem;
    margin: 7px;
    padding: 7px;
    padding-bottom: 20px;
}

img {
    width: 70px;
}


@media (min-width: 400px) {
    .card {
        background-color: red;
        width: 200px;
        padding-bottom: 100px;
    }
    img {
        width: 150px;
    }
}
@media (min-width: 700px) {
    .container-cards {
        width: 700px;
    }
}




body {
    background-image: url(../../img/background.jpg);
    background-attachment: fixed;
    background-size: contain;
}